@page "/TabComponent"
@using GuitarTabBlazorSite.Data
@using GuitarTabConverter
@inject GTCData Data

<div>
    <div>
        <strong>@Data.tab.ArtistName</strong>
        <div>@Data.tab.TitleOfSong</div>
        <div>@Data.tab.InstrumentString</div>

            @foreach (RootNotes tuning in Data.tab.Tuning.Reverse<RootNotes>())
            {
                 <div>@tuning.ToString()</div>
            }
            if (Data.tab.Capo == 0)
            {
                <div>No Capo</div>
            }
            else
            {
                <div>Capo on Fret @Data.tab.Capo.ToString()</div>
            }
    </div>


</div>


@code {


    //Data.selectedInstrument = Data.InstrumentList[0];
    //Data.songBeats = Data.GetSongBeats(Data.selectedSong, Data.selectedInstrument, Data.InstrumentList);
    //Data.tab = new Tab(Data.selectedSong, Data.selectedInstrument, Data.songBeats, Data.songJson, Data.converted);
  


}
