@page "/TabComponent"
@using GuitarTabBlazorSite.Data
@using GuitarTabConverter
@inject GTCData Data

<div>
    <div>
        <strong>@Tab.ArtistName</strong>
        <div>@Tab.TitleOfSong</div>
        <div>@Tab.InstrumentString</div>

            @foreach (RootNotes tuning in Tab.Tuning.Reverse<RootNotes>())
            {
                <div>@tuning.ToString()</div>
            }
            if (Tab.Capo == 0)
            {
                <div>No Capo</div>
            }
            else
            {
                <div>Capo on Fret @Tab.Capo.ToString()</div>
            }
    </div>


</div>


@code { 

    [Parameter]
    public Tab Tab { get; set; }

  


}
