@page "/TabComponent"
@using GuitarTabBlazorSite.Data
@using GuitarTabConverter
@inject GTCData Data
@inject IJSRuntime JSRuntime

<button @onclick="PrintComponent">Print</button>
<button @onclick="DownloadPDF">Download PDF</button>

<div class="tab-body" id="tab-body-content">
    <div>
        <strong>@Tab.ArtistName</strong>
        <div>@Tab.TitleOfSong</div>
        <div>@Tab.InstrumentString</div>

        <div class="tuning">
            @foreach (RootNotes tuning in Tab.Tuning.Reverse<RootNotes>())
            {
                <div>@tuning.ToString().Substring(0, 1)</div>
            }
        </div>
            @if (Tab.Capo == 0)
            {
                <div>No Capo</div>
            }
            else
            {
                <div>Capo on Fret @Tab.Capo.ToString()</div>
            }
    </div>

    <div class="tablines-body">
        @for (int outerIndex = 0; outerIndex < tabOne.Count; outerIndex += 4)
        {
            <div class="tab-row">
                @for (int innerIndex = 0; innerIndex < 4 && (outerIndex + innerIndex) < tabOne.Count; innerIndex++)
                {
                    
                    int tabIndex = outerIndex + innerIndex;
                    <div class="measure">
                        @for (int stringNum = 0; stringNum < Tab.TabLines.Count; stringNum++)
                        {
                            List<List<string>> instString = Tab.TabLines[stringNum];
                            List<string> measure = instString[tabIndex];
                            <div class="tabline">
                            @for (int beatIndex = 0; beatIndex < measure.Count; beatIndex++)
                                {
                                    string beat = measure[beatIndex]; @*Not used*@
                                    if (measure[0] != "|")
                                    {
                                        <div class="tuning">@beat</div>                                       
                                    }
                                    else
                                    {
                                        <div class="beat">
                                            @foreach (char character in beat)
                                            {
                                                <span>@character</span><span>&nbsp;</span>
                                            }   
                                        </div>
                                    }
                                }
                            </div>
                        }
                    </div>                    
                }
            </div>
        }                        
    </div>           
</div>


@code {



    [Parameter]
    public Tab Tab { get; set; }

    private List<List<string>> tabOne;

    private int rowcounter = 0;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        tabOne = Tab.TabLines[0];
    }

    private void PrintComponent()
    {
         JSRuntime.InvokeVoidAsync("printContent", "tab-body-content");
    }
    
    private void DownloadPDF()
    {
        JSRuntime.InvokeVoidAsync("downloadPDF", "tab-body-content");
    }
  


}

