@page "/TabComponent"
@using GuitarTabBlazorSite.Data
@using GuitarTabConverter
@using Microsoft.JSInterop
@using System.IO
@inject GTCData Data
@inject IJSRuntime JSRuntime





<div class="tab-body" id="tab-body-content">
    <div class="songinfo">
        <button class="print-button" @onclick="PrintComponent">Print</button>
        <strong>@Data.tab.ArtistName</strong>
        <div>@Data.tab.TitleOfSong</div>
        <div>@Data.tab.InstrumentString</div>

        <div class="tuning">
            @foreach (RootNotes tuning in Data.tab.Tuning.Reverse<RootNotes>())
            {
                <div>@tuning.ToString().Substring(0, 1)</div>
            }
        </div>
            @if (Data.tab.Capo == 0)
            {
                <div>No Capo</div>
            }
            else
            {
                <div>Capo on Fret @Data.tab.Capo.ToString()</div>
            }
    </div>

    <div class="tablines-body">
        @for (int outerIndex = 0; outerIndex < Data.tab.TabLines[0].Count; outerIndex += 4)
        {
            <div class="tab-row">
                @for (int innerIndex = 0; innerIndex < 4 && (outerIndex + innerIndex) < Data.tab.TabLines[0].Count; innerIndex++)
                {
                    
                    int tabIndex = outerIndex + innerIndex;
                    <div class="measure">
                        @for (int stringNum = 0; stringNum < Data.tab.TabLines.Count; stringNum++)
                        {
                            List<List<string>> instString = Data.tab.TabLines[stringNum];
                            List<string> measure = instString[tabIndex];
                            <div class="tabline">
                            @for (int beatIndex = 0; beatIndex < measure.Count; beatIndex++)
                                {
                                    string beat = measure[beatIndex]; @*Not used*@
                                    if (measure[0] != "|")
                                    {
                                        <div class="tuning">@beat</div>                                       
                                    }
                                    else
                                    {
                                        <div class="beat">
                                            @foreach (char character in beat)
                                            {
                                                <span>@character</span><span>&nbsp;</span>
                                            }   
                                        </div>
                                    }
                                }
                            </div>
                        }
                    </div>                    
                }
            </div>
        }                        
    </div>           
</div>


@code {
   

    private void PrintComponent()
    {
        JSRuntime.InvokeVoidAsync("printContent", "tab-body-content");
    }

    //private List<List<string>> tabOne;

    //private int rowcounter = 0;

    //protected override void OnInitialized()
    //{
    //    base.OnInitialized();

    //    tabOne = Data.tab.TabLines[0];
    //}

    
  


}

